
/*
https://www.a-one.co.jp/product/search/detail.php?id=60208
https://www.a-one.co.jp/product/search/detail.php?id=61208
*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700');
@serifFontFamily: 'Noto Serif JP', serif;

.anounce {
    margin-top: 1mm;
    color: tomato;
    text-align: center;
}
@media print {
    .anounce {
        visibility: hidden;
    }
}
table.print {
    position: absolute;
    top: 10.5mm;
    left: 8mm;
    border-collapse: collapse;
    p {
        margin: 0;
    }
    td {
        border: 1px dotted;
        border-color: #fff;
        border-collapse: collapse;
        position: relative;
        width: 98mm;
        height: 69mm;
    }
    .toArea {
        position: absolute;
        top: 0mm;
        height: 36mm;
        width: 96mm;
        .stamp {
            position: absolute;
            left: 82mm;
            top: 5mm;
            writing-mode: vertical-lr;
            border: 2px solid black;
            padding: .5mm;
            p {
                font-size: 28pt;
                font-weight: bold;
                text-align: center;
                font-family: "MS Mincho";
                letter-spacing: 5mm;
                margin-bottom: -5mm;
            }
        }
        .zipcode {
            position: absolute;
            top: 3mm;
            left: 3mm;
            font-size: 12pt;
        }
        .addressBlock {
            position: absolute;
            top: 8mm;
            left: 3mm;
            max-width: 80mm;
            font-size: 10.5pt;
            line-height: 1.1;
            p {
                margin: 4px 0;
            }
        }
        .nameBlock {
            position: absolute;
            width: 70mm;
            bottom: 0;
            left: 12mm;
            font-family: @serifFontFamily;
            font-weight: bold;
            text-align: center;
            .name {
                font-size: 23pt;
                .sub {
                    font-size: 12pt;
                }
                .title {
                    font-size: 14pt;
                    margin-left: 1mm;
                }
            }
        }
    }
    .fromArea {
        font-family: @serifFontFamily;
        border-top: solid 1px #123456;
        color: #123456;
        position: absolute;
        top: 38mm;
        left: 13mm;
        width: 80mm;
        height: 30mm;
        .addressBlock {
            position: absolute;
            top: 1mm;
            .company {
                line-height: 10mm;
                font-weight: bold;
                .kabuMark {
                    font-size: 26pt;
                    font-weight: normal;
                }
                .companyName {
                    position: absolute;
                    left: 9.5mm;
                    width: 30mm;
                    font-size: 21pt;
                    letter-spacing: .5mm;
                }
                .department {
                    position: absolute;
                    left: 34mm;
                    width: 40mm;
                    font-size: 16pt;
                }
            }
            .address {
                position: absolute;
                top: 11mm;
                width: 80mm;
                font-family: "MS Gothic";
                font-size: 9pt;
            }
        }
        .contact {
            position: absolute;
            top: 16mm;
            font-family: "MS Gothic";
            font-size: 9pt;
            .url {
                font-size: 8.5pt;
                font-family: "MS P Gothic";
            }
            .fax {
                letter-spacing: .45mm;
                margin-left: .5mm;
            }
            .num {
                position: absolute;
                left: 8mm;
                width: 60mm;
                letter-spacing: .5mm;
            }
        }
        .nameBlock {
            position: absolute;
            top: 17mm;
            left: 38mm;
            width: 44mm;
            max-width: 44mm;
            text-align: center;
            font-size: 11pt;
            font-weight: bold;
        }
        .stamp {
            position: absolute;
            border: 2px solid #123456;
            padding: .5mm 1mm;
            left: -11.5mm;
            top: -1mm;
            width: 7mm;
            height: 28mm;
            p {
                font-size: 14pt;
                font-weight: bold;
                font-family: "MS Gothic";
                writing-mode: vertical-rl;
                position: absolute;
                left: 2mm;
                top: 2mm;
            }
        }
    }
    .via {
        position: absolute;
        font-size: 11pt;
        top: 8.5mm;
        left: 70mm;
        width: 2.5em;
        text-align: center;
    }
}