/*
https://www.a-one.co.jp/product/search/detail.php?id=60208
https://www.a-one.co.jp/product/search/detail.php?id=61208
*/
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Serif JP'), local('NotoSerifJP-Regular'), url(https://fonts.gstatic.com/s/notoserifjp/v7/xn7mYHs72GKoTvER4Gn3b5eMXNg.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  src: local('Noto Serif JP Bold'), local('NotoSerifJP-Bold'), url(https://fonts.gstatic.com/s/notoserifjp/v7/xn77YHs72GKoTvER4Gn3b5eMZGKLRkg.otf) format('opentype');
}
.anounce {
  margin-top: 1mm;
  color: tomato;
  text-align: center;
}
@media print {
  .anounce {
    visibility: hidden;
  }
}
table.print {
  position: absolute;
  top: 10.5mm;
  left: 8mm;
  border-collapse: collapse;
}
table.print p {
  margin: 0;
}
table.print td {
  border: 1px dotted;
  border-color: #fff;
  border-collapse: collapse;
  position: relative;
  width: 98mm;
  height: 69mm;
}
table.print .toArea {
  position: absolute;
  top: 0mm;
  height: 36mm;
  width: 96mm;
}
table.print .toArea .stamp {
  position: absolute;
  left: 82mm;
  top: 5mm;
  writing-mode: vertical-lr;
  border: 2px solid black;
  padding: 0.5mm;
}
table.print .toArea .stamp p {
  font-size: 28pt;
  font-weight: bold;
  text-align: center;
  font-family: "MS Mincho";
  letter-spacing: 5mm;
  margin-bottom: -5mm;
}
table.print .toArea .zipcode {
  position: absolute;
  top: 3mm;
  left: 3mm;
  font-size: 12pt;
}
table.print .toArea .addressBlock {
  position: absolute;
  top: 8mm;
  left: 3mm;
  max-width: 80mm;
  font-size: 10.5pt;
  line-height: 1.1;
}
table.print .toArea .addressBlock p {
  margin: 4px 0;
}
table.print .toArea .nameBlock {
  position: absolute;
  width: 70mm;
  bottom: 0;
  left: 12mm;
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
}
table.print .toArea .nameBlock .name {
  font-size: 23pt;
  line-height: 1.2;
}
table.print .toArea .nameBlock .name .sub {
  font-size: 12pt;
}
table.print .toArea .nameBlock .name .title {
  font-size: 14pt;
  margin-left: 1mm;
}
table.print .fromArea {
  font-family: 'Noto Serif JP', serif;
  border-top: solid 1px #123456;
  color: #123456;
  position: absolute;
  top: 38mm;
  left: 13mm;
  width: 80mm;
  height: 30mm;
}
table.print .fromArea .addressBlock {
  position: absolute;
  top: 1mm;
}
table.print .fromArea .addressBlock .company {
  line-height: 10mm;
  font-weight: bold;
}
table.print .fromArea .addressBlock .company .kabuMark {
  font-size: 26pt;
  font-weight: normal;
}
table.print .fromArea .addressBlock .company .companyName {
  position: absolute;
  left: 9.5mm;
  width: 30mm;
  font-size: 21pt;
  letter-spacing: 0.5mm;
}
table.print .fromArea .addressBlock .company .department {
  position: absolute;
  left: 34mm;
  width: 40mm;
  font-size: 16pt;
}
table.print .fromArea .addressBlock .address {
  position: absolute;
  top: 11mm;
  width: 80mm;
  font-family: "MS Gothic";
  font-size: 9pt;
}
table.print .fromArea .contact {
  position: absolute;
  top: 16mm;
  font-family: "MS Gothic";
  font-size: 9pt;
}
table.print .fromArea .contact .url {
  font-size: 8.5pt;
  font-family: "MS P Gothic";
}
table.print .fromArea .contact .fax {
  letter-spacing: 0.45mm;
  margin-left: 0.5mm;
}
table.print .fromArea .contact .num {
  position: absolute;
  left: 8mm;
  width: 60mm;
  letter-spacing: 0.5mm;
}
table.print .fromArea .nameBlock {
  position: absolute;
  top: 17mm;
  left: 38mm;
  width: 44mm;
  max-width: 44mm;
  text-align: center;
  font-size: 11pt;
  font-weight: bold;
}
table.print .fromArea .stamp {
  position: absolute;
  border: 2px solid #123456;
  padding: 0.5mm 1mm;
  left: -11.5mm;
  top: -1mm;
  width: 7mm;
  height: 28mm;
}
table.print .fromArea .stamp p {
  font-size: 14pt;
  font-weight: bold;
  font-family: "MS Gothic";
  writing-mode: vertical-rl;
  position: absolute;
  left: 2mm;
  top: 2mm;
}
table.print .via {
  position: absolute;
  font-size: 11pt;
  top: 8.5mm;
  left: 70mm;
  width: 2.5em;
  text-align: center;
}
