<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <title>献本ラベル作成</title>
    <link rel="stylesheet" type="text/css" href="./css/index.css">
    <link rel="icon"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text x=%2250%%22 y=%2250%%22 style=%22dominant-baseline:central;text-anchor:middle;font-size:90px;%22>&#X1F4D8;</text></svg>">
</head>

<body>
    <h1>有斐閣書籍編集二部 献本ラベル作成</h1>
    <ul>
        <li>ラベル仕様：<a href="https://www.a-one.co.jp/product/search/detail.php?id=61208" target="_blank">A-one ラベルシール61208</a></li>
        <li>紙に無駄が出ないように、余りが出た場合はリストの先頭からラベルを埋め直します。</li>
        <li>セル内で改行されている場合には正常に動作しません。</li>
    </ul>
    <img src="img/img_example.png">

    <div id="app">
        <table class="modeSelect">
            <thead>
                <tr>
                    <th>コピー＆ペースト方式</th>
                    <th>ファイル読み込み方式</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="inputForm">
                            <textarea placeholder="Excel から図のようにコピーして貼り付けてください" autofocus="on" v-model="content"></textarea>
                            <button @click="load">表に読み込む</button>
                        </div>
                    </td>
                    <td>
                        <div class="inputForm">
                            テンプレートは<a href="./template.xlsx" target="blank">こちら</a>
                            <input type="file" ref="upfile" @change="onFileSelected"/>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <ul>
            <li>各セルを直接編集することもできます。</li>
            <li>1行が長い場合は字が赤くなります。適宜改行してください。</li>
        </ul>

        <data-table :address="addressArr"></data-table>

        <ul>
            <li><input type="checkbox" v-model="asYumail" id="asYumail"> ゆうメールとして発送する</li>
            <li><input type="checkbox" v-model="asVia" id="asVia"> 編集部気付で発送する</li>
        </ul>

        <span><button @click="print">ラベルに出力！</button><strong>※内容が第三者に送信されることはありません</strong></span>

    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.11.19/xlsx.full.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
<script>

const sample = [
    {
        "name": "福沢 諭吉",
        "honorific": "先生",
        "place": "慶應義塾大学",
        "zipcode": "108-8345",
        "address": "東京都港区三田2-15-45",
        "from": "聖徳太子",
    },
    {
        "name": "夏目 漱石",
        "honorific": "先生",
        "place": "",
        "zipcode": "113-0023",
        "address": "東京都文京区向丘2-20-7",
        "from": "小野妹子",
    },
    {
        "name": "樋口 一葉",
        "honorific": "先生",
        "place": "",
        "zipcode": "113-0033",
        "address": "東京都文京区本郷4-32・31",
        "from": "菅原道真",
    },
];

function toHalfWidth(str) {
    return str.replace(/[Ａ-Ｚａ-ｚ０-９]/g, function(s) {
        return String.fromCharCode(s.charCodeAt(0) - 0xFEE0);
    });
}

function formatPostalCode(s) {
    return toHalfWidth(s).replace(/^(\d{3})([^\d])?(\d{4})$/, "$1-$3");
}

function parseLine(line) {
    const fields = line.split(/\t/).map(s => s.trim());
    return {
        "name": (fields[0] || ""),
        "honorific": (fields[1] || ""),
        "place": (fields[2] || ""),
        "zipcode": formatPostalCode((fields[3] || "")),
        "address": (fields[4] || ""),
        "from": (fields[5] || ""),
    };
}

const tableCell = {
    props: {
        content: {
            type: String,
            require: true
        }
    },
    computed:{
        color: function() {
            if (String(this.content).length > 20){
                return "red";
            }
            return "#006363";
        }
    },
    template: `<td :style="{color: color}">{{content}}</td>`
}

const tableRow = {
    props: {
        label: {
            type: Object,
            require: true
        }
    },
    components: {
        "table-cell": tableCell
    },
    template: `
    <tr>
        <table-cell :content="label.name"></table-cell>
        <table-cell :content="label.honorific"></table-cell>
        <table-cell :content="label.place"></table-cell>
        <table-cell :content="label.zipcode"></table-cell>
        <table-cell :content="label.address"></table-cell>
        <table-cell :content="label.from"></table-cell>
    </tr>
    `
}

const dataTable = {
    props: {
        address: {
            type: Array,
            require: true
        }
    },
    components: {
        "table-row": tableRow
    },
    template: `
    <table id="srcTable">
        <thead>
            <tr>
                <th>氏名</th>
                <th>敬称</th>
                <th>所属</th>
                <th>郵便番号</th>
                <th>住所</th>
                <th>差出人</th>
            </tr>
        </thead>
        <tbody contenteditable="true">
            <table-row v-for="(adr, idx) in address" :key="idx" :label="adr"></table-row>
        </tbody>
    </table>
    `
}

// javascript fot importing Excel
//     https://docs.sheetjs.com/#sheetjs-js-xlsx
//     https://qiita.com/okoppe8/items/995b57d4e3d6d512b916
//     https://qiita.com/tmak_tsukamoto/items/9d29fe288324b9206138

function loadXlsx(e) {
    const uint8 = new Uint8Array(e.target.result);
    let wb = XLSX.read(uint8, { type: "array" });
    const shtAoa = wb.SheetNames.map(sheetName => XLSX.utils.sheet_to_json(
        // https://docs.sheetjs.com/docs/api/utilities/#array-output
        wb.Sheets[sheetName], { header: 1, raw: true }
    ));
    shtAoa[0].slice(1).forEach(record => {
        vm.addressArr.push({
            "name": record[0],
            "honorific": record[1],
            "place": record[2],
            "zipcode": record[3],
            "address": record[4],
            "from": record[5],
        });
    });
}

const vm = Vue.createApp({
    data: function () {
        return {
            content: "",
            addressArr: sample,
            asYumail: true,
            asVia: true,
        }
    },
    computed: {
        contentLines: function() {
            return this.content.split(/\n/).map(line => String(line)).filter(line => line.trim());
        },
    },
    components: {
        "data-table": dataTable
    },
    methods: {
        reset: function(){
            this.addressArr = [];
        },
        load: function(){
            this.reset();
            this.contentLines.forEach(line => {
                this.addressArr.push(parseLine(line));
            });
        },
        onFileSelected: function(){
            this.reset();
            const selected = this.$refs.upfile.files[0];
            const reader = new FileReader();
            reader.onload = loadXlsx;
            reader.readAsArrayBuffer(selected);
        },
        print: function(){
            window.open('./print_page.html', 'newwindow', 'width=800,height=890');
        }
    }
}).mount("#app");


</script>

</body>

<!-- ========================================
footer
======================================== -->
<footer>
    <p><img src="https://img.icons8.com/small/16/000000/github.png"> <a
            href="https://github.com/AWtnb/yu-sho2-donationlabelmaker" target="_blank">Github repository</a></p>
</footer>

</html>